@import '../../style/mixins.scss';

.mobile-menu {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: -100%;
    background-color: white;
    border-radius: 30px 30px 0 0;
    padding: 50px 25px;
    z-index: 20;

    &._show {
        bottom: 0 !important;
    }
}

.mobile-menu__item {
    margin-bottom: 25px;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    @include flex;
    align-items: center;
    justify-content: center;

    a {
        width: 100%;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &.unauthorized {
        margin-bottom: 40px;
    }
}
