.heading__title {
    margin-bottom: 12px;
    font-size: 28px;
    text-align: center;
    padding: 0 30px;
    font-weight: 800;
}

.heading__subtitle {
    font-size: 1.4rem;
    color: #d5d5d5;
    text-align: center;
    padding: 0 40px;
    line-height: 2rem;
}
