@import '../../style/mixins.scss';

.header {
    padding: 25px 20px;

    @media screen and (min-width: 768px) {
        padding: 25px 50px;
    }
}

.header__container {
    @include flex-between;
    align-items: center;
}

.header__logo {
    a {
        font-size: 30px;
        font-weight: 800;
    }
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 10px;

    &.fixed-size-btns {
        li {
            min-width: 160px;

            div {
                width: 100%;
            }
        }
    }
}

.circle-btn {
    .nav__list-item {
        padding: 5px !important;
    }
}

.nav__list-item {
    position: relative;
    min-width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 25px;
    border-radius: 20px;
    cursor: pointer;

    &:hover {
        background-color: #efefef88;
    }

    &.outline {
        outline: 3px solid black;

        &.white {
            outline: 3px solid black;

            &:hover {
                background-color: black;

                * {
                    color: white;
                }
            }
        }

        &.black {
            background-color: black;

            * {
                color: white;
            }

            &:hover {
                background-color: white;
                outline: 3px solid black;
            }
        }
    }

    h5 {
        font-size: 2rem;
    }
}

.nav__menu-btn {
    background: none;
    border: none;
    padding: 0;
    height: 100%;
    width: 30px;

    div {
        height: 12px;
    }

    span {
        position: relative;
        height: 4px;
        width: 30px;
        display: block;
        background-color: black;
        margin: 0;

        &::after {
            left: 10px;
            bottom: -8px;
            content: '';
            position: absolute;
            height: 4px;
            width: 20px;
            display: block;
            background-color: black;
        }
    }
}

.header__auth-btn {
    height: 40px;
    border: 2px solid black;
    border-radius: 20px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__registration {
    background-color: black;

    &:hover {
        background-color: white;

        span {
            color: black;
        }
    }

    span {
        color: white;
    }
}

.header__login {
    &:hover {
        background-color: black;

        span {
            color: white;
        }
    }
}
