:root {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

.App {
    position: relative;
    overflow: hidden;
    height: 100vh;

    &._background-grey {
        background-color: #fcfcfc;
    }
}

.container {
    margin: 0 auto;
    padding: 0 25px;
}

*,
*::after,
*::before {
    font-family: inherit;
    color: black;
}

a {
    text-decoration: none;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    visibility: hidden;

    &._show {
        visibility: visible;
    }
}
