.album-heading {
    padding: 50px 0 30px;
}

.album-heading__selection {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-top: 20px;
}

.album-heading__title {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

    .title {
        font-size: 3.5rem;
        font-weight: 800;
        letter-spacing: 0.05rem;
    }

    @media screen and (min-width: 769px) {
        gap: 20px;

        .title {
            font-size: 4rem;
        }
    }
}

.album-heading__btn {
    background: none;
    outline: none;
    border: none;
    font-size: 1.6rem;
    cursor: pointer;
    padding: 8px 20px;
    border-radius: 3px;

    ._delete {
        color: #df786c;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.04);
    }
}

.album-heading {
    .dots-menu {
        position: relative;
        visibility: visible;

        &:focus {
            background-color: rgb(0, 0, 0, 0.04);
        }

        &:hover {
            background-color: rgb(0, 0, 0, 0.04);
        }

        &._show-menu {
            background-color: rgb(0, 0, 0, 0.04);
        }

        span {
            background-color: black;

            &::before {
                background-color: black;
            }

            &::after {
                background-color: black;
            }
        }
    }
}

.album-heading__container {
    position: relative;
}

.album-heading__text-item {
    text-align: center;
    font-size: 1.7rem;
    color: rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }
}

.album-heading__avatar {
    display: flex;
    justify-content: center;
}

.album-heading__author-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.album-heading__description {
    margin-bottom: 15px;
}

.album-heading__name {
    font-size: 1.7rem;
}
